<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href={{ path('home.index') }}>WEBATRIO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href={{ path('home.index') }}>Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href={{ path('personne.index') }}>Liste des personnes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href={{ path('personne.new') }}>Insérer une personne</a>
        </li>
    </div>
  </div>
</nav>