{% extends "base.html.twig" %}

{% block title %}
    WebAtrio - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">WebAtrio - Test Technique</h1>
            <p class="lead">Ceci est la version finale et complète de mon test pour WebAtrio. Il a, comme vous le savez, été rendu une première fois dans une version sans style, avec l'âge et le rangement par ordre alaphétique qui n'étaient pas pris en compte. Cette fois-ci, toutes les fonctionnalités ont été respectées.</p>
            <hr class="my-4">
            <p>Pour commencer, veuillez insérer une nouvelle personne en cliquant ci-dessous</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Insérer une personne</a>
            </p>
        </div>
    </div>
{% endblock %}